<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Error</title>
    
    <!-- Bootstrap Core CSS -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}"  rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{{ url_for('static', filename='css/sb-admin.css') }}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{{ url_for('static', filename='font-awesome/css/font-awesome.min.css') }}" rel="stylesheet" type="text/css">

</head>

<body>

    <div class="container">

        <div class="row">
            <div class="col-md-4 col-md-offset-4">
            </br></br></br></br></br></br>
                <div class="login-panel panel panel-default">

                    <div class="panel-body" align="center">
						<img style="max-width:180px; margin-top: -7px;" class="img-responsive" alt="Responsive image" src="{{ url_for('static', filename='images/screaming-sun.png') }}">
						<hr>

                        <h1>Error 500</h1>
                        <button type="button" class="btn btn-danger">Go back!</button>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- jQuery -->
    <script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>

</body>

</html>
