{% extends "blank-page.html" %}

{% set active_page = "Dashboard" %}

{% block title %} Issues {% endblock %}


{% block body %}

<script type="text/javascript">
    function form_submit() {
      document.getElementById("add_form").submit();
     }
    
    function form_submit() {
      document.getElementById("update_form").submit();
     }
        
     $(document).on("click", ".open-AddBookDialog", function () {
     var id = $(this).data('id');
     var Uid = $(this).data('uid');
     var assignto = $(this).data('assignto');
     var description = $(this).data('description');
     var location = $(this).data('location');
     var status = $(this).data('status');

     $(".modal-body #IssID").val( id );
     $(".modal-body #IssUID").val( Uid );
     $(".modal-body #assignto").val( assignto );
     $(".modal-body #description").val( description );
     $(".modal-body #location").val( location );
     $(".modal-body #status").val( status );
});


$(document).on("click", "table tbody tr  td", function (){
    $("#view").modal("show");
    $("#issID").val($(this).closest('tr').children()[0].textContent);
    $("#uID").val($(this).closest('tr').children()[1].textContent);
    $("#assignto").val($(this).closest('tr').children()[2].textContent);
    $("#description").val($(this).closest('tr').children()[3].textContent);


});

function timeConverter(UNIX_timestamp){
    var a = new Date(UNIX_timestamp * 1000);
    var months = ['Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sep','Oct','Nov','Dec'];
    var year = a.getFullYear();
    var month = months[a.getMonth()];
    var date = a.getDate();
    var hour = a.getHours();
    var min = a.getMinutes();
    var sec = a.getSeconds();
    var time = date + ' ' + month + ' ' + year + ' ' + hour + ':' + min + ':' + sec ;
    return time;
  }
</script>

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            Issues
            <small> list of all Issues </small>
        </h1>
        <ol class="breadcrumb">
            <li>
                <i class="fa fa-dashboard"></i>  <a href="index.html">Dashboard</a>
            </li>
            <li class="active">
                <i class="fa fa-file"></i>  Issues
            </li>
        </ol>
    </div>
</div>

<div class="row">    
    <div class="col-sm-8" align="left">
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-success" role="alert" >
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                {{message}}
                            </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
    </div>



   
<!-- Modal Edit  row -->

<div class="modal fade" id="edit" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Update Issue Details</h4>
                </div>
                <div class="modal-body" >
                    <form role="form" method="post" action="/updateIssue/" id="update_form">
                        <div class="form-group">
                            <label>Issue ID</label>
                            <input class="form-control" name="IssID" type="text" id ="IssID" value="" readonly >
                        </div>
                        <div class="form-group">
                                <label>User ID</label>
                                <input class="form-control" name="IssUID" type="text" id ="IssUID" value="" readonly >  
                        </div>
                        <div class="form-group">
                                <label>assignto</label>
                                <input class="form-control" name="assignto" type="text" id ="assignto" value=""  >  
                        </div>
                        <div class="form-group">
                                <label>Description</label>
                                <input class="form-control" name="description" type="text" id ="description" value=""  >  
                        </div>
                        <div class="form-group">
                                <label>Location</label>
                                <input class="form-control" name="location" type="text" id ="location" value=""  >  
                        </div>
                        <div class="form-group">
                                <label>Satatus</label>
                                <input class="form-control" name="status" type="text" id ="status" value=""  >  
                        </div>
                </div>
                <div class="modal-footer ">
                <button type="submit"  class="btn btn-primary btn-default btn-block" value="update">Update</button>
                </div>
            </form>
            </div>
        <!-- /.modal-dialog --> 
        </div>
    <!-- /.modal-dialog --> 
    </div>

<!-- View Issue row -->

<div class="modal fade" id="view" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="view" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Issue Details</h4>
                </div>
                <div class="modal-body" id="orderDetails">
                    <div class="form-group">
                    <label>Issue ID </label>
                    </br>
                    <input  type="text" id ="issID"  readonly  style="border: 0px">
                    </div>
                    <div class="form-group">
                            <label>User ID </label>
                            </br>
                            <input  type="text" id ="uID"  readonly  style="border: 0px">
                    </div>
                    <div class="form-group">
                            <label>Assigned To</label>
                            </br>
                            <input  type="text" id ="assignto"  readonly  style="border: 0px">
                    </div>
                    <div class="form-group">
                        <label>Description</label>
                        </br>
                        <input  type="text" id ="description"  readonly  style="border: 0px">
                </div>

                </div>

            
            </div>
        <!-- /.modal-dialog --> 
        </div>
    <!-- /.modal-dialog --> 
    </div>

<div class="row">
    </br>
</div>

<div class="row">

    <div class="col-lg-12">
        <div class="table-responsive">
            <table class="table table-bordered table-hover" id="example" cellspacing="0" width="100%" >
                <thead>
                    <tr class = "active">
                        <th>Issue ID</th>
                        <th>Reported by -user id-</th>
                        <th>Assigned to </th>
                        <th>Description</th>
                        <th>Category</th>
                        <th>lat</th>
                        <th>ladt</th>
                        <th>lon</th>
                        <th>Time</th>
                        <th>Status</th>
                        <th>image</th>
                        <th><center>Edit</center></th>
                    </tr>
                </thead>
                <tbody >
                {% for row in rows %}
                    <tr>
                        <td>{{row["Issue_id"]}}</td>
                        <td>{{row["Iuid"]}}</td>
                        <td>{{row["IassignedTo"]}}</td>
                        <td>{{row["Idescription"]}}</td>
                        <td>{{row["Icategory_id"]}}</td>
                        <!-- <td>{{googlemap("my_awesome_map", lat=0.23234234, lng=-0.234234234, markers=[(0.23234234, -0.234234234)]) }} </td> -->
                        <td>{{googlemap("my_awesome_map", lat=row['Ilat'], lng=row['Ilon'], markers=[(row['Ilat'], row['Ilon'])] )  }}</td>
                        <td>{{row["Ilat"]}}</td>
                        <td>{{row["Ilon"]}}</td>
                        <td>{{row["Itime"]}}</td>
                        <td>{{row["Istatus_id"]}}</td>
                        <td><img style="max-width:100px;" src="http://ec2-34-207-75-73.compute-1.amazonaws.com/api/{{row['Ipicpath']}}"></td>
                        
                        
              
                        <td><center>
                                <button class="open-AddBookDialog btn btn-primary btn-xs" data-title="Edit" data-toggle="modal" 
                                data-id="{{row['issue_id']}}" data-uid="{{row['user_id']}}" data-assignto="{{row['IassignedTo']}}" data-description="{{row['Idescription']}}" 
                                data-location="{{row['issue_lat']}}" data-status="{{row['status_id']}}" data-target="#edit"  href="#edit">
                                    <span class="glyphicon glyphicon-pencil"></span>
                                </button>
                        </center></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

        </div>
    </div>
</div>

{% endblock %}


