{% extends "blank-page.html" %}

{% set active_page = "issues" %}

{% block title %} Issues {% endblock %}


{% block body %}

<script type="text/javascript">
    function form_submit() {
      document.getElementById("add_form").submit();
     }
    
    function form_submit() {
      document.getElementById("update_form").submit();
     }
        
     $(document).on("click", ".open-AddBookDialog", function () {
     var id = $(this).data('id');
     var Uid = $(this).data('uid');
     var priority = $(this).data('priority');
     var description = $(this).data('description');
     var location = $(this).data('location');
     var status = $(this).data('status');

     $(".modal-body #IssID").val( id );
     $(".modal-body #IssUID").val( Uid );
     $(".modal-body #priority").val( priority );
     $(".modal-body #description").val( description );
     $(".modal-body #location").val( location );
     $(".modal-body #status").val( status );
});


$(document).on("click", "table tbody tr  td", function (){
    $("#view").modal("show");
    $("#issID").val($(this).closest('tr').children()[0].textContent);
    $("#uID").val($(this).closest('tr').children()[1].textContent);
    $("#priority").val($(this).closest('tr').children()[2].textContent);


});

</script>

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            Issues
            <small> list of all Issues </small>
        </h1>
        <ol class="breadcrumb">
            <li>
                <i class="fa fa-dashboard"></i>  <a href="index.html">Dashboard</a>
            </li>
            <li class="active">
                <i class="fa fa-file"></i>  Issues
            </li>
        </ol>
    </div>
</div>

<div class="row">    
    <div class="col-sm-8" align="left">
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-success" role="alert" >
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                {{message}}
                            </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
    </div>

    <div class="col-sm-4" align="right">
        <button type="button" class="btn btn-primary btn" data-toggle="modal" data-target="#myModal">
            <i class="fa fa-plus"></i>  Add Issue
            </button>
    </div>


    <!-- Modal Add Table-->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Add Event</h4>
            </div>
            <div class="modal-body">
                <form role="form" method="post">
                <fieldset>

                    <div class="form-group">
                        <label>First Name</label>
                        <input class="form-control" placeholder="First Name" name="fname" type="text" value="{{request.form.fname}}" autofocus>
                    </div>
                    <div class="form-group">
                        <label>Last Name</label>
                        <input class="form-control" placeholder="Last Name" name="lname" type="text" value="{{request.form.lname}}">
                    </div>
                    <div class="form-group">
                        <label>E-mail</label>
                        <input class="form-control" placeholder="E-mail" name="email" type="email" value="{{request.form.email}}" >
                    </div>
                    <div class="form-group">
                        <label>Password</label>
                        <input class="form-control" placeholder="Password" name="password" type="password" value="{{request.form.password}}">
                    </div>
                    <div class="form-group">
                        <label>Confirm Password</label>
                        <input class="form-control" placeholder="Re-enter Password" name="password" type="password" value="{{request.form.password}}">
                    </div>

                </fieldset>
                </form>
            </div>
            <div class="modal-footer">
            <button type="submit"  class="btn btn-primary btn-default btn-block" value="add">Add</button>

            </div>
        </div>
        </div>
    </div>
</div>

<!-- Modal Edit  row -->

<div class="modal fade" id="edit" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Update Issue Details</h4>
                </div>
                <div class="modal-body" >
                    <form role="form" method="post" action="/updateIssue/" id="update_form">
                        <div class="form-group">
                            <label>Issue ID</label>
                            <input class="form-control" name="IssID" type="text" id ="IssID" value="" readonly >
                        </div>
                        <div class="form-group">
                                <label>User ID</label>
                                <input class="form-control" name="IssUID" type="text" id ="IssUID" value="" readonly >  
                        </div>
                        <div class="form-group">
                                <label>Priority</label>
                                <input class="form-control" name="priority" type="text" id ="priority" value=""  >  
                        </div>
                        <div class="form-group">
                                <label>Description</label>
                                <input class="form-control" name="description" type="text" id ="description" value=""  >  
                        </div>
                        <div class="form-group">
                                <label>Location</label>
                                <input class="form-control" name="location" type="text" id ="location" value=""  >  
                        </div>
                        <div class="form-group">
                                <label>Satatus</label>
                                <input class="form-control" name="status" type="text" id ="status" value=""  >  
                        </div>
                </div>
                <div class="modal-footer ">
                <button type="submit"  class="btn btn-primary btn-default btn-block" value="update">Update</button>
                </div>
            </form>
            </div>
        <!-- /.modal-dialog --> 
        </div>
    <!-- /.modal-dialog --> 
    </div>

<!-- View Issue row -->

<div class="modal fade" id="view" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="view" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Issue Details</h4>
                </div>
                <div class="modal-body" id="orderDetails">
                    <div class="form-group">
                    <label>Issue ID </label>
                    </br>
                    <input  type="text" id ="issID"  readonly  style="border: 0px">
                    </div>
                    <div class="form-group">
                            <label>User ID </label>
                            </br>
                            <input  type="text" id ="uID"  readonly  style="border: 0px">
                    </div>
                    <div class="form-group">
                            <label>Priority</label>
                            </br>
                            <input  type="text" id ="priority"  readonly  style="border: 0px">
                    </div>

                </div>

            
            </div>
        <!-- /.modal-dialog --> 
        </div>
    <!-- /.modal-dialog --> 
    </div>

<div class="row">
    </br>
</div>

<div class="row">

    <div class="col-lg-12">
        <div class="table-responsive">
            <table class="table table-bordered table-hover" id="example" cellspacing="0" width="100%" >
                <thead>
                    <tr class = "active">
                        <th>Issue ID</th>
                        <th>User ID</th>
                        <th>Priority </th>
                        <th>Description</th>
                        <th>Location</th>
                        <th>Status</th>
                        <th><center>Edit</center></th>
                    </tr>
                </thead>
                <tbody >
                {% for row in rows %}
                    <tr>
                        <td>{{row["issue_id"]}}</td>
                        <td>{{row["user_id"]}}</td>
                        <td>{{row["issue_priority"]}}</td>
                        <td>{{row["issue_description"]}}</td>
                        <td>{{row["issue_lat"]}}</td>
                        <td>{{row["status_id"]}}</td>
                        <td><center>
                                <button class="open-AddBookDialog btn btn-primary btn-xs" data-title="Edit" data-toggle="modal" 
                                data-id="{{row['issue_id']}}" data-uid="{{row['user_id']}}" data-priority="{{row['issue_priority']}}" data-description="{{row['issue_description']}}" 
                                data-location="{{row['issue_lat']}}" data-status="{{row['status_id']}}" data-target="#edit"  href="#edit">
                                    <span class="glyphicon glyphicon-pencil"></span>
                                </button>
                        </center></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

        </div>
    </div>
</div>

{% endblock %}

