{% extends "blank-page.html" %}

{% set active_page = "priorities" %}

{% block title %} Priorities {% endblock %}

{% block body %}

<script type="text/javascript">
    function form_submit() {
      document.getElementById("add_form").submit();
     }
    
    function form_submit() {
      document.getElementById("update_form").submit();
     }

        
     $(document).on("click", ".open-AddBookDialog", function () {
     var Pid = $(this).data('id');
     var priority = $(this).data('priority');


     $(".modal-body #PID").val( Pid );
     $(".modal-body #priority").val( priority );

});
</script>



<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            Priorities
            <small> list of all issues priorities of Reportal</small>
        </h1>
        <ol class="breadcrumb">
            <li>
                <i class="fa fa-dashboard"></i>  <a href="index.html">Dashboard</a>
            </li>
            <li class="active">
                <i class="fa fa-file"></i>  Priorities
            </li>
        </ol>
    </div>
</div>

<div class="row">
   
    <div class="col-sm-8" align="left">
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-success" role="alert" >
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                {{message}}
                            </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
    </div>
         <!-- Button trigger modal -->
    <div class="col-sm-4" align="right">
            <button type="button" class="btn btn-primary btn" data-toggle="modal" data-target="#myModal">
            <i class="fa fa-plus"></i>  Add Priority
            </button>
     </div>

<!-- Modal Add Table -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Add Priority</h4>
          </div>
          <div class="modal-body">
                <form role="form" method="post" action="/addPriority/" id="add_form">
                <fieldset>
                    <div class="form-group">
                        <label>Priority</label>
                        <input class="form-control" placeholder="Priority" name="priority" type="text" value="{{request.form.priority}}">
                    </div>
                    
                </fieldset>
          </div>
          <div class="modal-footer">
            <button type="submit"  class="btn btn-primary btn-default btn-block" value="add">Add</button>

          </div>
        </form>

        </div>
      </div>
    </div>
</div>

<!-- Modal Edit  row -->
<div class="modal fade" id="edit" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Update User Details</h4>
                </div>
                <div class="modal-body">
                    <form role="form" method="post" action="/updatePriority/" id="update_form">
                        <div class="form-group">
                            <label>ID</label>
                            <input class="form-control" name="id" type="text" id ="PID" value="" readonly >
                        </div>
                        <div class="form-group">
                                <label>Priority</label>
                                <input class="form-control" name="priority" type="text" id ="priority" value=""  >  
                        </div>

                </div>
                <div class="modal-footer ">
                <button type="submit"  class="btn btn-primary btn-default btn-block" value="update">Update</button>
                </div>
            </form>
            </div>
        <!-- /.modal-dialog --> 
        </div>
    <!-- /.modal-dialog --> 
    </div>

<div class="row">
    </br>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="table-responsive">
            <table class="table table-bordered table-hover">
                <thead>
                    <tr class = "active">
                        <th>ID</th>
                        <th>Priority</th>
                        <th><center>Edit</center></th>

                    </tr>
                </thead>
                <tbody>
                {% for row in rows %}
                    <tr>
                        <td>{{row["Priority_id"]}}</td>
                        <td>{{row["Priority_name"]}}</td>
                        <td><center>
                                <button class="open-AddBookDialog btn btn-primary btn-xs" data-title="Edit" data-toggle="modal" 
                                data-id="{{row['Priority_id']}}" data-priority="{{row['Priority_name']}}" 
                                data-target="#edit"  href="#edit">
                                    <span class="glyphicon glyphicon-pencil"></span>
                                </button>
                        </center></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}