{% extends "blank-page.html" %}

{% set active_page = "admin" %}

{% block title %} Admin {% endblock %}

{% block body %}

<body>
    <div class = "container">
        <h4>Register</h4>
        <br>
        {% from "_formhelpers.html" import render_field %}
        <form method=post action="/register/">
            <dl>
                {{render_field(form.fname)}}
                {{render_field(form.lname)}}
                {{render_field(form.email)}}
                {{render_field(form.password)}}
                {{render_field(form.confirm)}}
                {{render_field(form.accept_tos)}}
            </dl>
            <p><input type=submit value=Register></p>
        </form>
        
        {% if error %}
            <p class="error"><strong>Error:</strong>{{error}}</p>
        {% endif %}

    </div>
</body>

{% endblock %}
 